/* @media screen and (min-width:768px) and (max-width: 996px) { */

/* 底部块 */
#footer {
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}

/* 底部块国徽 */
#footer img {
    width: 14px;
}

/* 底部块备案号 */
#footer a {
    font-size: 12px;
    font-weight: bolder;
    color: #000000;
}

/* } */